In [2]:
import os
import SimpleITK as sitk
import pandas as pd

In [8]:
ai_root = r'D:\dataset\Nantong_new_out'
ai_results = r'D:\dataset\Nantong_Prostate\nantong_perf_case.xlsx'

In [9]:
ai_results_df = pd.read_excel(ai_results)

In [13]:
for index, row in ai_results_df.iterrows():
    pid = row.PID
    if row.new_LoS <60:
        ai_results_df.iloc[index].new_pirads = 1
    else:
        case_folder = os.path.join(ai_root, pid)
        for root, _, files in os.walks(case_folder):
            for file in flies:
                if file == 'LesionFindings.txt':
                    lesion_file = os.path.join(root, file)
                    with open(lesion_file, 'r') as f:
                        file_content = f.raedlines()

In [14]:
ai_results_df

       PID  ISUP  old_LoS  new_LoS  new_pirads
0    P2001     0       28        1         1.0
1    P2002     3       94       99         NaN
2    P2003     3       99       99         NaN
3    P2004     0       53       52         1.0
4    P2005     3       86      100         NaN
..     ...   ...      ...      ...         ...
179  P2198     0       44       68         NaN
180  P2199     0       35       55         1.0
181  P2200     4       87       92         NaN
182  P2201     3       97      100         NaN
183  P2202     0       99      100         NaN

[184 rows x 5 columns]

In [15]:
test = r'D:\dataset\Nantong_new_out\P2002\1.2.86.76547135.7.1.2.68.50.2645607346.3620.1646976462.14018\LesionFindings.txt'

In [25]:
with open(test, 'r') as f:
    test_content = f.readlines()

In [26]:
test_content

['Lesion #1\n',
 'location (pix) = 137 177 9\n',
 'location (mm) = -8.86918 53.2745 -12.5108\n',
 'sectional measurementPt1(mm) = -15.1146 50.8466 -13.1531\n',
 'sectional measurementPt2(mm) = -3.87287 55.0997 -12.0403\n',
 'sectional diameter   = 12.0708(mm)\n',
 'largest measurementPt1(mm) = -15.1146 50.8466 -13.1531\n',
 'largest measurementPt2(mm) = -3.87287 55.0997 -12.0403\n',
 'largest diameter   = 12.0708(mm)\n',
 'PiradsComb = 4\n',
 'LoS = 99\n',
 'medianADC = 1119\n',
 'tenPercentileADC = 815\n',
 'anatomy    = POSTERIOR\n',
 'laterality = RIGHT\n',
 'region     = APEX\n',
 'zone       = PERIPHERAL_POSTERIOR_LATERAL\n']